<div class="card-container">
    <div class="card-text-heading">
        <h2> So, about coffee... </h2>
    </div>

    <div class="card cardA">
        <img class="img-fluid" src="../../../assets/images/coffee-beans.jpg" alt="Card image cap" style="width: 100%; height: 22.5em">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae debitis ducimus, excepturi explicabo in itaque quaerat quam rerum unde. Asperiores at beatae deserunt dolores doloribus incidunt porro quaerat rem!</span><span>Ab autem itaque laboriosam nobis, quae sint? Debitis error fugit magni quisquam! Aliquam cumque dolorum eligendi error est fugit inventore maxime necessitatibus soluta veritatis? Deleniti facere porro praesentium vel voluptatibus!</span><span>Animi consequuntur distinctio eos est molestias quia quibusdam reiciendis similique tempora. Delectus eius ex exercitationem hic nobis numquam obcaecati quas qui, quis quos veniam voluptate. Earum eum nostrum officia provident.</span></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card cardB">
        <img class="img-fluid" src="../../../assets/images/coffee-energy.jpg" alt="Card image cap" style="width: 100%; height: 22.5em">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aliquid commodi delectus eligendi error excepturi, expedita facilis impedit labore magni nulla numquam officia pariatur quam quidem quisquam quos saepe!</span><span>A ab asperiores aut consectetur dolore eaque, eligendi error eveniet explicabo id impedit ipsa iure laborum libero nobis quos voluptatibus! Architecto consequatur enim facilis minima numquam! Dolores odit quam quis.</span><span>Aperiam asperiores deserunt earum eum, facilis, ipsa, maxime necessitatibus praesentium quasi quis reprehenderit soluta ullam ut veritatis voluptatem. Amet eligendi harum inventore ipsum itaque odit praesentium quas quia sapiente sit?</span></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card cardC">
        <img class="img-fluid" src="../../../assets/images/coffee-hangover-cure.jpg" alt="Card image cap" style="width: 100%; height: 22.5em">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam architecto beatae cum doloremque eius eveniet expedita fugit libero neque officiis quam qui quisquam, rem repellat rerum suscipit ut vero!</span><span>Amet, animi corporis culpa deserunt ducimus eveniet exercitationem facere facilis fugit iure molestias nostrum optio qui, quod recusandae rem repellat reprehenderit ullam ut vel! Amet asperiores mollitia obcaecati quisquam unde?</span><span>Consequuntur dignissimos ipsam quaerat. Iste, non, provident. Ad adipisci aperiam atque commodi debitis dignissimos dolorem, doloribus eum excepturi id incidunt ipsam laboriosam maiores obcaecati optio possimus, quis, ratione voluptas voluptates.</span></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<hr style="height:1px; margin: 0;"/>
