<div class="footer-wrapper">
    <div class="footer-content-wrapper">
        <div class="footer-reason">
            <div class="footer-item-header"> Reason behind Coffee Counter </div>
            <div>Ab, accusantium cumque cupiditate eos error ex facilis ipsam iure labore magni nemo neque numquam optio
                quasi qui quia quis sit suscipit totam unde. Eligendi facere ipsam natus tempore tenetur?
            </div>
            <div>Autem blanditiis, consectetur excepturi nisi qui sapiente sunt tempora unde veniam voluptatum! Amet
                cupiditate ex hic, laboriosam molestias nisi perferendis praesentium provident quaerat quia quidem sit
                soluta temporibus totam veniam.
            </div>
        </div>
        <div class="footer-other-articles">
            <div class="footer-item-header"> Other coffee articles </div>
            <div>Ab, accusantium cumque cupiditate eos error ex facilis ipsam iure labore magni nemo neque numquam optio
                quasi qui quia quis sit suscipit totam unde. Eligendi facere ipsam natus tempore tenetur?
            </div>
            <div>Autem blanditiis, consectetur excepturi nisi qui sapiente sunt tempora unde veniam voluptatum! Amet
                cupiditate ex hic, laboriosam molestias nisi perferendis praesentium provident quaerat quia quidem sit
                soluta temporibus totam veniam.
            </div>
        </div>
        <div class="footer-statistics">
            <div class="footer-item-header"> Coffee statistics </div>
            <div>Ab, accusantium cumque cupiditate eos error ex facilis ipsam iure labore magni nemo neque numquam optio
                quasi qui quia quis sit suscipit totam unde. Eligendi facere ipsam natus tempore tenetur?
            </div>
            <div>Autem blanditiis, consectetur excepturi nisi qui sapiente sunt tempora unde veniam voluptatum! Amet
                cupiditate ex hic, laboriosam molestias nisi perferendis praesentium provident quaerat quia quidem sit
                soluta temporibus totam veniam.
            </div>
        </div>
    </div>
</div>
