<div class="principles-container z-depth-5">
    <!-- The 7 Principles here-->
    <h2 class="principle-header"> <span> Seven principles of good coffee </span> </h2>
    <div class="seven-principles">
        <h3 class="principle A"> Buy <span> good </span> coffee beans </h3>
        <h3 class="principle B"> Grind your coffee just <span> before </span> brewing </h3>
        <h3 class="principle C"> Store your coffee <span> properly </span> </h3>
        <h3 class="principle D"> Use the <span> right proportion </span> of coffee to water </h3>
        <h3 class="principle E"> Focus on <span> technique </span> </h3>
        <h3 class="principle F"> Use <span> quality </span> tools </h3>
        <h3 class="principle G"> Approach <span> pouring </span> technique gracefully </h3>
    </div>
</div>
